@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

#root {
  height: 100vh;
  position: relative;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-recoleta: 'Recoleta', sans-serif;
  --font-sofia: 'Sofia Pro', sans-serif;
  --navbar-height: 4.75rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-recoleta: var(--font-recoleta);
  --font-sofia: var(--font-sofia);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: var(--font-sofia);
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta Alt';
  src: url('assets/fonts/Recoleta/RecoletaAlt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Recoleta';
  src: url('assets/fonts/Recoleta/Recoleta-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sofia Pro Semi';
  src: url('assets/fonts/Sofia/SofiaProSemiBold.eot');
  src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
    url('assets/fonts/Sofia/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProSemiBold.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProSemiBold.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProRegular-Italic.eot');
  src: local('Sofia Pro Regular Italic'), local('SofiaProRegular-Italic'),
    url('assets/fonts/Sofia/SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProRegular-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProRegular-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProRegular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro Semi';
  src: url('assets/fonts/Sofia/SofiaProSemiBold-Italic.eot');
  src: local('Sofia Pro Semi Bold Italic'), local('SofiaProSemiBold-Italic'),
    url('assets/fonts/Sofia/SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProSemiBold-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProSemiBold-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProSemiBold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProLight.eot');
  src: local('Sofia Pro Light'), local('SofiaProLight'),
    url('assets/fonts/Sofia/SofiaProLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProLight.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProLight.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProExtraLight.eot');
  src: local('Sofia Pro ExtraLight'), local('SofiaProExtraLight'),
    url('assets/fonts/Sofia/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProExtraLight.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProExtraLight.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProMedium-Italic.eot');
  src: local('Sofia Pro Medium Italic'), local('SofiaProMedium-Italic'),
    url('assets/fonts/Sofia/SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProMedium-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProMedium-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProMedium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProUltraLight-Italic.eot');
  src: local('Sofia Pro UltraLight Italic'), local('SofiaProUltraLight-Italic'),
    url('assets/fonts/Sofia/SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProUltraLight-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProUltraLight-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProUltraLight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProRegular.eot');
  src: local('Sofia Pro Regular'), local('SofiaProRegular'),
    url('assets/fonts/Sofia/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProRegular.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProRegular.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProMedium.eot');
  src: local('Sofia Pro Medium'), local('SofiaProMedium'),
    url('assets/fonts/Sofia/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProMedium.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProMedium.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProBold.eot');
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
    url('assets/fonts/Sofia/SofiaProBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProBold.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProBold.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProExtraLight-Italic.eot');
  src: local('Sofia Pro ExtraLight Italic'), local('SofiaProExtraLight-Italic'),
    url('assets/fonts/Sofia/SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProExtraLight-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProExtraLight-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProExtraLight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProLight-Italic.eot');
  src: local('Sofia Pro Light Italic'), local('SofiaProLight-Italic'),
    url('assets/fonts/Sofia/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProLight-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProLight-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProLight-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProBlack-Italic.eot');
  src: local('Sofia Pro Black Italic'), local('SofiaProBlack-Italic'),
    url('assets/fonts/Sofia/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProBlack-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProBlack-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProBlack-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProBlack.eot');
  src: local('Sofia Pro Black'), local('SofiaProBlack'),
    url('assets/fonts/Sofia/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProBlack.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProBlack.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProUltraLight.eot');
  src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
    url('assets/fonts/Sofia/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProUltraLight.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProUltraLight.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('assets/fonts/Sofia/SofiaProBold-Italic.eot');
  src: local('Sofia Pro Bold Italic'), local('SofiaProBold-Italic'),
    url('assets/fonts/Sofia/SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Sofia/SofiaProBold-Italic.woff2') format('woff2'),
    url('assets/fonts/Sofia/SofiaProBold-Italic.woff') format('woff'),
    url('assets/fonts/Sofia/SofiaProBold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
